<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
        <link rel="stylesheet" href="/digitalstore/public/css/index.css">
</head>

<body>


    <%- include("partials/header") %>
        <main class="main-profile">
            <div class="div-img-profile">

                <img src="/img/usuarios/<%=user.img %> ">
                <div>
                     <h1>
                    <%= user.firstName + ' ' + user.lastName%>
                </h1>
                <h2>
                    <%= user.email%>
                </h2>
                </div>
               

            </div>

            <div class="div-detalle-password">
                

                <form action="/users/changepassword/<%=user.id %>" class="form-password" method= "post">
                    <label for="">Contraseña vieja</label>
                    <input class="oldPass" type="password" name="password" id="">
                    <% if (locals.errores && errores.password ) { %>
                        <div class='feedback is-danger'>
                            <%= errores.password.msg %>
                        </div>
                        <% } %>
                    <label for="">Contraseña nueva</label>
                    <input class="newPass1" type="password" name="newPass1" id="">
                    <% if (locals.errores && errores.newPass1) { %>
                        <div class='feedback is-danger'>
                            <%= errores.newPass1.msg %>
                        </div>
                        <% } %>
                    <label for="">Confirmar contraseña nueva</label>
                    <input class="newPass" type="password" name="newPass" id="">
                    <% if (locals.errores && errores.newPass ) { %>
                        <div class='feedback is-danger'>
                            <%= errores.newPass.msg %>
                        </div>
                        <% } %>
                        <br>
                    <input type="submit" class="boton-enviar" value="Confirmar">
                </form>

                    <!-- <div class="div-detalle-profile-2">
                        <h3> <a href="">Mis compras</a> </h3>
                        <h3> <a href="">Favoritos</a> </h3>
                        <h3> <a href="">Cambiar contraseña</a> </h3>
                        <h3> <a href="">Cerrar sesión</a> </h3>
                    </div> -->
                







            </div>


        </main>
        <%- include("partials/footer") %>
</body>
<script src="/script/changePassword.js"></script>
</html>