<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("partials/head") %>
</head>

<body>
    <!-- LAUTARO Y PABLO -->
    <%- include("partials/header") %>

      
        <!-- MELINA Y RUBEN -->
        <main class="p-1 mx-auto bg-grey ">
            <section>
                <%- include("partials/carruselUno")%>
            </section>

            <section class="mx-auto  flex flex-wrap gap justify-sa categoria-main-container">
                <!--Carrusel con imagenes en circulo-->
             
                    <article class="categoria-main">
                        <form action="/products" id="categorias-form" enctype="application/x-www-form-urlencoded" method="post">
                        <div class="contenedor-categoria">
                            <div>
                                <img src="img/productos/auriculares-redragon.jpg" class="wp-90 ">
                                <input type="submit" value="" name="auriculares">
                            </div>

                            <h3>Auriculares</h3>

                        </div>
                </article>
                <article class="categoria-main">
                    <div class="contenedor-categoria">
                        <div><img src="img/productos/memoria-team.jpg" class="wp-90 ">
                            <input type="submit" value="" name="memorias">
                        </div>

                            <h3>Memorias RAM</h3>
                            
                        </div>
                    
                    </article>
                    <article class="categoria-main ">
                        <div class="contenedor-categoria">
                            <div><img src="img/productos/motherasrock.jpg" class="wp-90 ">
                                <input type="submit" value="" name="motherboard"></div>

                            <h3>Motherboard</h3>
                            
                        </div>
                    
                    </article>
                    <article class="categoria-main">
                        <div class="contenedor-categoria">
                            <div><img src="img/productos/gabinete.png" class="wp-90 ">
                                <input type="submit" value="" name="gabinetes"></div>

                        <h3>Gabinetes</h3>

                    </div>
                </article>
                <article class="categoria-main">
                    <div class="contenedor-categoria">
                        <div><img src="img/productos/teclado.png" class="wp-90 ">
                            <input type="submit" value="" name="teclados">
                        </div>

                        <h3>Teclados</h3>

                    </div>
                </article>
                </form>
            </section>
            <div class="div-categorias-index">
                <h2 class="categorias-index">Ofertas</h2>
            </div>

            <section class="section-card p-1 mx-auto flex flex-wrap gap justify-center">

                <% productsOfert.forEach(product=> { %>
                    <%- include("products/productCard",{product}) %>
                        <% }) %>

            </section>
            <section>
                <%- include("partials/marquesina")%>
            </section>
           
        </main>


        <!-- AXEL -->

        <%- include("partials/footer") %>

            
</body>

</html>