<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("partials/head") %>
</head>

<body>
    <!-- LAUTARO Y PABLO -->
    <%- include("partials/header") %>

      
        <!-- MELINA Y RUBEN -->
        <main class="mx-auto bg-grey ">
            
            <section class="main-publicidad">
                <!-- <%- include("partials/carruselUno")%> -->
                <img src="/img/anuncios/hyperx-brand-banner.jpg" alt="">
            </section>   

            <section class="main-categories">
                <!--Carrusel con imagenes en circulo-->
             


                <article >
                    <a class="categoria-main" href="/products?category=Auriculares">
                        <img src="img/productos/auriculares-redragon.jpg" class="wp-90 ">
                        Memorias
                    </a>
                </article>



                <article >
                    <a class="categoria-main" href="/products?category=Memorias">
                        <img src="img/productos/memoria-team.jpg" class="wp-90 ">
                        Memorias
                    </a>
                </article>


                
                <article >
                    <a class="categoria-main" href="">
                        <img src="img/productos/motherasrock.jpg" class="wp-90 ">
                        Motherboard
                    </a>
                </article>



                <article >
                   <a class="categoria-main"href="">
                        <img src="img/productos/gabinete.png" class="wp-90 ">
                        Gabinetes
                   </a>
                </article>


                <article >
                    <a class="categoria-main" href="">
                        <img src="img/productos/teclado.png" class="wp-90 ">
                        Teclados
                    </a>
                </article>
                </form>
            </section>
            <div class="div-categorias-index">
                <h2 class="categorias-index">Ofertas</h2>
            </div>

            <section class="section-card p-1 mx-auto flex flex-wrap gap justify-center">

                <% productsOfert.forEach(product=> { %>
                    <%- include("products/productCard",{product}) %>
                        <% }) %>

            </section>
            
            
            <section class="main-publicidad">
                <!-- <%- include("partials/carruselUno")%> -->
                <img src="/img/anuncios/ryzen.jpg" alt="">
            </section>
          
           
        </main>


        <!-- AXEL -->

        <%- include("partials/footer") %>

            
</body>

</html>