<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("partials/head") %>

</head>


<body class="body-login">
    <%- include("partials/header") %>
    <!-- LAUTARO Y PABLO -->
    <main class="main-login">
        <div class="contenedor">
           

        
      
            <form action = "/users/login" class="form-login" method="post">

                <label for="" class="label-login">Email</label>
                <input type="text" name = "emailLogin" class="input-login" placeholder="Ingrese e-mail para loguearse"  value="<%= locals.old && old.emailLogin ? old.emailLogin : '' %>">

                <% if (locals.errores && errores.emailLogin ) { %>
                    <div class='feedback is-danger'>
                        <%= errores.emailLogin.msg %>
                    </div>
                    <% } %>

                <label for="" class="label-login">Contraseña</label>
                <input type="password" name = "passwordLogin"class="input-login" placeholder="Ingrese su contraseña">

                <% if (locals.errores && errores.passwordLogin ) { %>
                    <div class='feedback is-danger'>
                        <%= errores.passwordLogin.msg %>
                    </div>
                    <% } %>

                <br>    
                <label><input type="checkbox" id="remember" name="remember"> Recordar usuario </label><br>
                <a href="" class="w-100  "><input type="submit" class="boton-enviar-login"></a>
             
                <br>
               
                <br>
                <a href="/register" class="registrate-login"><p>Todavia no sos usuario? <p class="rojo-login">Registrate aca!</p> </p></a>

            </form>
    </main>

    <!-- AXEL -->
   <%- include("partials/footerPaginaCorta")%>

   
</body>

</html>