<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/header") %>
    <main class="main-panel">  

        <h1>USUARIOS</h1>


        <div class="user-contenedor">
            
                <% users.forEach(user => { %>
                 <div class="user-card">
                    <p class="id" >
                    <%= user.id %>
                </p>
                        <p class="usuario" >
                            <%= user.firstName %>
                        </p>
                        <p class="usuario" >
                            <%= user.lastName %>
                        </p>
                        <p class="usuario" >
                            <%= user.email %>
                        </p>
                        <p class="usuario" >
                            <%= user.userName %>
                        </p>
                        <p class="usuario" >
                            <%= user.role.role %>
                        </p>
                        <button><a href="/users/edit/<%= user.id %>">Editar</a></button>
                        <button><a href="/users/panel/<%= user.id %>">Eliminar</a></button>
                    </div>
                    <p style="font-size: 20px; font-weight: bold;">
            
                    </p>
                <% }) %>
            
        </div>



    </main>
    <%- include("partials/footer") %>
</body>
</html>