<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DIGITAL STORE</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="shortcut icon" href="/img/icon.png">
    </head>
<body>
     <!-- LAUTARO Y PABLO -->
     <%- include("partials/header")%>

    <!-- MAIN DE PRODUCTOS DIGITAL STORE -->
    <main class="main-detail">
        <div class="img-detail">
            <img src="/img/productos/<%=producto.img%> " alt="<%= producto.categoria %> ">
        </div>
        <div class="detail-product">
            <h2><%= producto.nombre %> </h2>
            <div class="detail-categoria">
                <p><%= producto.categoria %> </p>
            </div>
            <p class="detail-precio">$<%= producto.precio %> </p>
            <% if (producto.oferta) { %>
                <p class="detail-oferta"><%= producto.porcentaje %>%OFF</p>
            <% } %>
            <div class="detail-boton">
                <button >Agregar al carrito</button>
            </div>
        </div>
        <div>
            <h3>Descripcion</h3>
            <p class="detail-descripcion"><%= producto.descripcion %> </p>
        </div>
        
    </main>


    <!-- AXEL -->
   <%- include("partials/footer") %>

<!-- SCRIPTS -->
<script src="/script/index.js"></script>
<script src="https://kit.fontawesome.com/1c41280639.js" crossorigin="anonymous"></script>
    
</body>
</html>