<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("partials/head") %>

</head>

<body class="body-detail">
    <!-- LAUTARO Y PABLO -->
    <%- include("partials/header")%>

        <!-- MAIN DE PRODUCTOS DIGITAL STORE -->
        <main class="main-detail">

            <div class="img-detail">
                <img src="/img/productos/<%=producto.image%> " alt="<%= producto.category.name %> ">
            </div>
            <div class="detail-product">
                <p>
                    Categoria: <%= producto.category.name %>
                </p>
                <h2>
                    <%= producto.name %>
                </h2>
                <div class="pricing-producto">
                    
                    <% if (producto.discount> 0) { %>
                        <p class="detail-precio-discount">
                            $<%= producto.price %>
                        </p>
                        <div class="discountContainer">
                            <p class="detail-oferta2">
                            $<%= producto.price - (producto.price * (producto.discount/100)) %>
                            </p>
                            <p class="detail-oferta">
                            <%= producto.discount%>%OFF
                            </p>
                        </div>
                    <% } else {%>
                        <p class="detail-precio">
                            $<%= producto.price %>
                        </p>
                    <% } %>
                </div>
                <div class="envios-detail">
                    <img src="/img/anuncios/enviosatodoelpais.png" alt="anuncio de envio a todo el pais">
                </div>
                <% if (locals.isLogged) { %>
                    <div class="buttonsProducts">
                        <form action="/carrito/add/<%= producto.id %>" method="POST">
                            <div class="detail-boton">
                                <button class="detail-button-cart"> <i class="fa-solid fa-cart-shopping"></i></button>
                            </div>
                        </form>
                        <form action="/favorites/add/<%= producto.id %>" method="POST">
                            <div class="detail-boton">
                                <button class="detail-button-heart"><i class="fa-solid fa-heart"></i></button>
                            </div>
                        </form>
                        <div class="buy-button">
                            <p>Comprar</p>
                        </div>
                    </div>
                <% } else {%>
                
                    <div class="info-login-detail">
                        <span >
                            Si desea comprar, agregar al Carrito o Favoritos, <a href="/login">inicie sesion</a> o <a href="/register">registrese</a>.
                        </span>
                    </div>
                <% } %>
            </div>

            <div class="descripcion-producto">
                <h3>Descripción:</h3>
                <p class="detail-descripcion">
                    <%= producto.description %>
                </p>
            </div>

        </main>


        <!-- AXEL -->
        <%- include("partials/footer") %>

        <script src="/script/productDetail.js"></script>

</body>

</html>