<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("partials/head") %>

</head>
<body>
    <!-- LAUTARO Y PABLO -->
    <%- include("partials/header")%>

        <!-- MAIN DE PRODUCTOS DIGITAL STORE -->
    <main class="main-detail">
        <div class="img-detail">
            <img src="/img/productos/<%=producto.img%> " alt="<%= producto.categoria %> ">
        </div>
        <div class="detail-product">
            <h2>
                <%= producto.nombre %>
            </h2>
            <div class="detail-categoria">
                <p>
                    Categoria: <%= producto.categoria %>
                </p>
            </div>
            <div class="centrar-producto">
                <p class="detail-precio">
                    Precio: $<%= producto.precio %>


                </p>
                <% if (producto.oferta) { %>
                    <p class="detail-oferta">
                        <%= producto.descuento%>%OFF
                    </p>
                <% } %>
            </div>


            <div class="detail-boton">

                <button> Agregar al carrito </button>




            </div>
        </div>
        <div class="descripcion-producto">
            <h3>Descripcion:</h3>
            <p class="detail-descripcion">
                <%= producto.descripcion %>
            </p>
        </div>

    </main>


    <!-- AXEL -->
    <%- include("partials/footer") %>

   

</body>

</html>