<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
        <link rel="stylesheet" href="/digitalstore/public/css/index.css">
</head>

<body>


    <%- include("partials/header") %>
        <main class="main-profile">
            <div class="div-img-profile">

                <img src="/img/usuarios/<%=user.img %> ">
                <div>
                     <h1>
                    <%= user.firstName + ' ' + user.lastName%>
                </h1>
                <h2>
                    <%= user.email%>
                </h2>
                </div>
               

            </div>

            <div class="div-detalle-profile">
                



                    <!-- <div class="div-detalle-profile-2">
                        <h3> <a href="">Mis compras</a> </h3>
                        <h3> <a href="">Favoritos</a> </h3>
                        <h3> <a href="">Cambiar contraseña</a> </h3>
                        <h3> <a href="">Cerrar sesión</a> </h3>
                    </div> -->
                







            </div>


        </main>
        <%- include("partials/footer") %>
</body>

</html>